<h1 class="animated fadeIn fast">Sobre o Comic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta
  laudantium ab dolor harum? Facere obcaecati blanditiis laudantium tenetur
  distinctio molestiae, incidunt doloremque ipsum animi quos ad necessitatibus
  quis error!
</p>
