<h1>
  {{ hero.nome | uppercase }} <small>({{ hero.aparicao | date: "y" }})</small>
</h1>
<hr />
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="hero.img" class="img-fluid" [alt]="hero.nome" />
    <br />
    <br />
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block"
      >Voltar</a
    >
  </div>
  <div class="col-md-8">
    <h3>{{ hero.nome }}</h3>
    <hr />
    <p>{{ hero.bio }}</p>
    <div class="">
      <img [src]="heroHouseUrl" [alt]="hero.casa" class="img-logo" />
    </div>
  </div>
</div>
