<h1>Heróis <small>Marvel e DC</small></h1>
<hr />
<div class="card-columns">
  <app-hero-card
    (selectedHero)="seeHero($event)"
    [hero]="hero"
    [index]="hero.idx"
    *ngFor="let hero of heroes"
  ></app-hero-card>
</div>
