<h1>
  Pesquisar <small>{{ term }}</small>
</h1>
<hr />

<div class="row" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      Não existem resultados para o termo: {{ term }}
    </div>
  </div>
</div>

<div class="card-columns">
  <app-hero-card [hero]="hero" *ngFor="let hero of heroes"></app-hero-card>
</div>
