<div class="card animated fadeIn fast">
  <img class="card-img-top" [src]="hero.img" [alt]="hero.nome" />
  <div class="card-body">
    <h5 class="card-title">{{ hero.nome }}</h5>
    <p class="card-text">{{ hero.bio }}</p>
    <p class="card-text">
      <small class="text-muted">{{ hero.aparicao }}</small>
    </p>
    <button
      (click)="seeHero(hero.idx)"
      type="button"
      class="btn btn-outline-primary btn-block"
    >
      Ver mais...
    </button>
  </div>
</div>
